.spaces_search_button__container {
  width: 100%;
  padding: 0 2rem;
  position: sticky;
  top: 0;
}

.space_cards_container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 4rem;
}
