.input {
  border: 1px solid var(--color-blue-400);
  font-size: 1.75rem;
  padding: 1rem 2rem;
  color: var(--text-color-primary-dark);
  border-radius: 1rem;
  min-width: 100%;
}

.input:focus {
  border-width: 2px;
}

.input::placeholder {
  color: var(--color-blue-600);
}
