@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.search_on_deeplex_animate {
  background: linear-gradient(-45deg, #38bdf8, #3b82f6, #6366f1 #8b5cf6);
  background-size: 400% 400%;
  animation: search_on_deeplex_animate 20s ease infinite;
  -webkit-animation: search_on_deeplex_animate 2s ease infinite;
  -moz-animation: search_on_deeplex_animate 2s ease infinite;
}

@keyframes search_on_deeplex_animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.advanced_button_animate {
  background-size: 400%;

  -webkit-animation: advanced_button_animate 3s ease infinite;
  -moz-animation: advanced_button_animate 3s ease infinite;
  animation: advanced_button_animate 3s ease infinite;
}

@keyframes advanced_button_animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo_animate {
  background-size: 400% 400%;
  animation: logo_animate 20s ease infinite;
  -webkit-animation: logo_animate 2s ease infinite;
  -moz-animation: logo_animate 2s ease infinite;
}

@keyframes logo_animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.circular_path_animation {
  animation: circular_path_animation 2s linear infinite;
  -webkit-animation: circular_path_animation 2s linear infinite;
  -moz-animation: circular_path_animation 2s linear infinite;
}

@keyframes circular_path_animation {
  0% {
    transform: rotate(0deg) translateY(50px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(50px) rotate(-360deg);
  }
}
