/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

:root {
    --color-blue-50: #DEF4FF;
    --color-blue-100: #B0DDFF;
    --color-blue-200: #82C5FC;
    --color-blue-300: #52ADF7;
    --color-blue-400: #2596F4;
    --color-blue-500: #0B7DDA;
    --color-blue-600: #0061AB;
    --color-blue-700: #00457B;
    --color-blue-800: #002A4D;
    --color-blue-900: #000F1F;

    --background-color-dark: #000;
    --background-color-light: #FAFAFA;

    --container-color-dark: #0D0D0D;
    --container-color-light: #FFFFFF;

    --text-color-primary-light: #FFFFFF;
    --text-color-secondary-light: #E6E6E6;
    --text-color-ternary-light: #CCCCCC;
    --text-color-primary-dark: #000F1F;
    --text-color-secondary-dark: #002752;
    --text-color-ternary-dark: #004085;

    --color-grey-50: #F1F1F3;
    --color-grey-100: #D5D5D7;
    --color-grey-200: #BABABE;
    --color-grey-300: #9F9FA6;
    --color-grey-400: #83838E;
    --color-grey-500: #696974;
    --color-grey-600: #52525A;
    --color-grey-700: #3B3B40;
    --color-grey-800: #232326;
    --color-grey-900: #0C0C0E;

    /* TODO: Change the Error color for different types: Text and Box */

    --error-box-dark: #CC6666;
    --error-text-dark: #CC6666;
}

/* Additional custom features */
* {
    font-size: 62.5%;
}

html,
body,
body > div:first-of-type { /* the div is the root div (id="__next") */
    height: 100%;
    scrollbar-gutter: auto;
    background-color: #000;
}

/* Customize scrollbar */
::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #E9EBEE;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #E9EBEE;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    width: 20px;
	background-color: #C4C4C4;
    border-radius: 10px;
}
