.container {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 1rem;
  background: var(--container-color-light);
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.card_line {
  min-height: 100%;
  min-width: 10px;
  background: var(--color-blue-400);
}

.detail_space_card__container {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  color: var(--text-color-primary-dark);
}

.card_header__container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.card_header {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: var(--color-blue-700);
}

.card_actions__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 4rem;
  color: var(--color-blue-400);
}

.remove_button:hover,
.add_space_button:hover {
  color: var(--color-blue-600);
  cursor: pointer;
}

.metadata__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  gap: 1rem;
  margin-bottom: 1rem;
}

.content__container {
  font-size: 2.25rem;
}
