.container {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-rows: 50% 1fr;
  background: var(--container-color-light);
  box-shadow: 1rem 1rem 2rem var(--color-grey-100);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem 2rem;
}

.circles__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
