.container {
  min-width: 100%;
  min-height: 100%;
  padding: 1rem 2rem;
}

.search_bookmarks__container {
  width: 100%;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
  z-index: 100;
}

.bookmark_cards__container,
.skeleton_cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: stretch;
  justify-items: stretch;
}

.skeleton__container {
  height: 300px;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
