/* CONTAINER */
/* -------------- */

.container {
  min-height: 100%;
  background: var(--background-color-light);
  display: grid;
  grid-template-columns: 28% 1fr;
  gap: 2rem;
  padding: 2rem 4rem;
  position: relative;
}

/* FILTERS */
/* ---------------- */

.filters__container {
  position: sticky;
  top: 2rem;
  left: 0;
  justify-self: center;
  align-self: start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.filter__options-container {
  background: var(--container-color-light);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  min-width: 100%;
  min-height: 100%;
  padding: 1rem 2rem;
}

.filters__logo-title {
  font-size: 4rem;
  color: var(--color-blue-400);
  font-weight: 600;
  letter-spacing: -0.25rem;
  margin-bottom: 1rem;
}

.filters__skeleton-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters__title {
  font-size: 2.25rem;
  color: var(--text-color-primary-dark);
  font-weight: 500;
  margin-bottom: 1rem;
}

.filter__options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.filters__type-container,
.filters__valid-container,
.filters__organization-container,
.filters__mevzuat-container,
.filters__date-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 100%;
}

.filters__type-checkbox {
  font-size: 2rem;
  color: var(--text-color-primary-dark);
}

.filters__type-title,
.filters__valid-title,
.filters__organization-title,
.filters__mevzuat-title,
.filters__date-title {
  font-size: 2rem;
  color: var(--text-color-primary-dark);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.filters__organization-input {
  margin-right: 1rem;
  min-width: 100%;
}

.filters__organization-input-button-container,
.filters__mevzuat-input-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filters__organization-button,
.filters__mevzuat-button,
.filters__date-button {
  background: var(--color-blue-400);
  padding: 1rem 2rem;
  font-size: 1.75rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.filters__organization-button:hover,
.filters__mevzuat-button:hover,
.filters__date-button:hover {
  background: var(--color-blue-500);
}

.filters__mevzuat-input,
.filters__mevzuat-madde-input {
  margin-right: 1rem;
  min-width: 50%;
}

.filters__type-checkbox-group,
.filters__valid-checkbox-group {
  padding-left: 2rem;
}

.filters__date-inputs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
}

.filters__date-input {
  margin-right: 1rem;
  color: var(--text-color-primary-dark);
  color-scheme: light;
  min-width: 50%;
}

/* RESULTS */
/* ---------------- */
.results__title-sort-container {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-primary-dark);
  margin-bottom: 1rem;
}

.results__title {
  font-weight: 600;
}

.results__sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.results__sort-type {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.results__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result__cards-container {
  background: var(--container-color-light);
  margin-bottom: 2rem;
  height: 100%;
  border-radius: 2rem;
}

.result__cards-container:last-of-type {
  margin-bottom: 0;
}

.result-card__container:not(:last-of-type) {
  margin-bottom: 2rem;
}

.overall__search-button {
  width: 80%;
  align-self: center;
  font-size: 2.25rem;
  font-weight: 700;
  background: var(--color-blue-400);
  color: var(--text-color-primary-light);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* SEARCH BAR */
/* ---------------- */
.searchbar__container {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 2rem;
  left: 0;
  z-index: 8;
  min-width: 100%;
  margin-right: 1rem;
}

.searchbar_options__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.searchbar_component__container {
  flex-grow: 10;
  margin-right: 1rem;
}

.searchbar_algos__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.ai_button {
  font-size: 1.75rem;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem var(--color-grey-200);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.ai_button:hover {
  box-shadow: 0 1rem 3rem var(--color-grey-100);
}

.bm25_button {
  font-size: 1.75rem;
  background: transparent;
  border: 1px solid var(--color-blue-400);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 3rem var(--color-grey-200);
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: var(--color-blue-400);
}

.bm25_button:hover {
  background: var(--color-blue-400);
  color: var(--text-color-primary-light);
  box-shadow: 0 1rem 3rem var(--color-grey-100);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ai_button__container,
.bm25_button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.ai_checked,
.bm25_checked {
  height: 2px;
  max-width: 80%;
  min-width: 80%;
  background: var(--color-blue-400);
}
