/* CONTAINER */
/* ------------------ */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--background-color-dark);
    position: relative;
    z-index: 1;
}

.container__background-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--container-color-light);
}

/* NAVBAR */
/* ------------------ */
.navbar {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-primary-light);
    background-color: var(--container-color-dark);
    box-shadow: 0 1.25rem 3.5rem var(--container-color-dark);
    border-radius: 5rem;
    padding: 1.25rem 4rem;
    margin-top: 2rem;
    max-width: 100rem;
    z-index: 2;
    width: 100%;
}

.navbar__logo {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -.3rem;
    color: var(--color-blue-400);
    cursor: pointer;
    flex: 1;
}


.navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__item {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    font-size: 1.75rem;
    color: var(--text-color-primary-light);
    font-weight: 200;
    transition: all .2s ease-in;
    margin-right: 3rem;
}


.navbar__item:hover {
    color: var(--color-blue-500);
    transform: scale(1.05);
}

.navbar__login-button {
    display: inline-block;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 200;
    padding: .75rem 1.5rem;
    border: .25rem solid var(--color-blue-400);
    color: var(--color-blue-400);
    border-radius: 1.2rem;
    transition: all .2s ease-in;
}

.navbar__login-button:hover {
    background-color: var(--color-blue-500);
    color: var(--text-color-primary-light);
}

/* ------------------ */

/* CONTENT */
/* ------------------ */

.content {
    align-self: center;
    max-width: 120rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3rem;
}


.content__header {
    font-family: "Poppins", sans-serif;
    font-size: 4.75rem;
    line-height: 1.4;
    color: var(--text-color-primary-light);
}

.content__sub {
    color: var(--text-color-primary-light);
    font-family: "Poppins", sans-serif;
    font-size: 4.75rem;
}

.content__description {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: var(--text-color-secondary-light);
    margin: 1.75rem 0 3rem;
    max-width: 60rem;
    line-height: 2.5rem;
    font-weight: 200;
}

.content__button {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-blue-500);
    color: var(--text-color-primary-light);
    padding: 1.25rem 2.5rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all .2s ease;
}

.content__button:hover {
    background: var(--color-blue-600);
    color: var(--text-color-primary-light);
}


/* ------------------ */

/* FOOTER */
/* ------------------ */
.footer {
    max-width: 81rem;
    width: 100%;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color-blue-400);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 10;
    font-size: 1.5rem;
}