.spin {
}

.spin:after {
  content: 'Emsal';
  animation-delay: 10s;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    content: 'M';
  }

  2% {
    content: 'Me';
  }

  4% {
    content: 'Mev';
  }

  8% {
    content: 'Mevz';
  }

  10% {
    content: 'Mevzu';
  }

  12% {
    content: 'Mevzua';
  }

  14% {
    content: 'Mevzuat';
  }

  33% {
    content: 'K';
  }

  35% {
    content: 'Ka';
  }
  37% {
    content: 'Kar';
  }
  39% {
    content: 'Kara';
  }
  41% {
    content: 'Karar';
  }
  50% {
    content: 'Kara';
  }
  52% {
    content: 'Kar';
  }
  54% {
    content: 'Ka';
  }

  56% {
    content: 'K';
  }

  58% {
    content: '';
  }

  66% {
    content: 'E';
  }

  68% {
    content: 'Em';
  }

  70% {
    content: 'Ems';
  }

  72% {
    content: 'Emsa';
  }

  74% {
    content: 'Emsal';
  }
}

.blinkingCursor {
  font-weight: 100;
  font-size: 4vw;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}
