/* SEARCH BAR */
/* ----------------- */
.searchbar__form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.searchbar__container {
  width: 100%;
  margin-right: 1rem;
}

.searchbar__input {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding: 1rem 3rem;
  box-shadow: 0 1rem 2rem var(--color-grey-100);
  border-radius: 10rem;
  width: 100%;
  color: var(--text-color-primary-dark);
  border: 2px solid var(--color-blue-800);
  transition: all 0.1s ease-in;
}

.searchbar__input:focus {
  border-width: 4px;
  box-shadow: 0 1.5rem 1rem var(--color-grey-100);
}

.search__button {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchbar__input-group {
  position: absolute;
}

/* FILTER OPTIONS */
/* ----------------- */
.filter-options__container {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__button {
  color: var(--color-blue-400) !important;
}

.menu-list {
  font-size: 3rem;
}

.menu-option__item {
  font-size: 20rem;
}
